#headings{
    background-color: lightcyan;
    font-size: 1em;
    font-weight: bold;
    color: maroon;
    text-align: center;
    margin: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
}

button{
    align-self: center;
}

.row {
    display: flex;
  }
  
.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
}

#galleryImgs{
    max-width: 100%;
}

.item {
    width: 25%;
}